<!-- Указать, что этот шаблон наследует код из файла base.html -->
{% extends 'base.html' %}

<!-- Переопределить блок content для вставки содержимого этого шаблона -->
{% block content %}
    <!-- Создать заголовок h1 с названием приложения -->
    <h1>Warhammer Database</h1>

    <!-- Создать список ul с элементами li для каждой фракции из списка factions, переданного в качестве аргумента -->
    <ul>
        {% for faction in factions %}
            <!-- В каждом элементе li создать ссылку a на страницу с информацией о фракции с ее id и именем -->
            <li><a href="/faction/{{ faction.id }}">{{ faction.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}